# Per default (hardcoded), its inside the Projects folder
# APPOINT_FILE_CACHE='/home/snitter/ramdisk/appoint-file-cache'
# Storage of installed at-jobs and other things to come.
# STORAGE_DIR='/mnt/home_daten/Projekte/APPointer/data'
#
APP_ENV=dev
APP_SECRET=9f7607aa72d0075307bd6aa2bf24805b

REMOTE_DATABASE_URL=mysql://xbCUZQurG2:yv..@remotemysql.com:3306/xbCUZQurG2
LOCAL_DATABASE_URL=mysql://appointer:ge..@remotemysql.com:3306/appointer

KERNEL_CLASS=APPointer\Kernel
