# Per default (hardcoded), its inside the Projects folder
# APPOINT_FILE_CACHE='/home/snitter/ramdisk/appoint-file-cache'
# Storage of installed at-jobs and other things to come.
# STORAGE_DIR='/mnt/home_daten/Projekte/APPointer/data'
